<section class="container">
    <div class="mb-3">
        <h1 *ngIf="noteId === 'newNote'" class="display-4">Nova Nota</h1>
        <h1 *ngIf="noteId !== 'newNote'" class="display-4">Nota #{{ noteId }}</h1>
    </div>
    <form [formGroup]="formNote" >
        <div class="form-group row">
            <label for="inputDate" class="col-sm-2 col-form-label">Data</label>
            <div class="col-sm-10">
                <input formControlName="ocurrenceDate" id="inputDate" type="date" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputCost" class="col-sm-2 col-form-label">Valor</label>
            <div class="col-sm-10">
                <input formControlName="value" currencyMask placeholder="R$ 0,00" id="inputCost" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="selectSchool" class="col-sm-2 col-form-label">Escola</label>
            <div class="col-sm-10">
                <select formControlName="schoolId" id="selectSchool" class="form-control">
                    <option value="0">Escolas...</option>
                    <option *ngFor="let school of schoolList" [value]="school.SCHOOL_ID">{{ school.SCHOOL_NAME }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row mb-4">
            <label for="inputDesc" class="col-sm-2 col-form-label">Descrição</label>
            <div class="col-sm-10">
                <textarea formControlName="description" id="inputDesc" placeholder="Digite uma descrição..." maxlength="150" rows="4" class="form-control"></textarea>
                <small class="text-muted">Limite de 150 caracteres.</small>
            </div>
        </div>
        <div class="form-group row mb-4">
            <label for="inputIsActive" class="col-sm-2 col-form-label">Ativo</label>
            <div class="col-sm-1">
                <input formControlName="isActive" type="checkbox" id="inputIsActive" class="form-control">
            </div>
        </div>
        <div class="d-flex justify-content-around">
            <button *ngIf="noteId === 'newNote'" (click)="createUpdateNote('create')" class="btn btn-primary border-rounded">Adicionar Nota</button>
            <button *ngIf="noteId !== 'newNote'" (click)="createUpdateNote('update')" class="btn btn-primary border-rounded">Salvar Nota</button>
            <button [routerLink]="['/home']" class="btn btn-secondary border-rounded">Cancelar</button>
        </div>
    </form>
</section>
