<section class="container-fluid">
    <div class="d-flex justify-content-between mb-3">
        <div>
            <h1 class="display-4">Lista de Escolas</h1>
        </div>
        <div class="">
            <button [routerLink]="['/schoolDetail', 'newSchool']" class="btn btn-primary mt-4 border-rounded"> <strong>&#43;</strong> Adicionar escola </button>
        </div>
    </div>
    <div class="row px-3 mb-2">
        <div class="col">
            <span class="column-title">Nome</span>
        </div>
        <div class="col">
            <span class="column-title">Diretor</span>
        </div>
        <div class="col">
            <span class="column-title">Endereço</span>
        </div>
    </div>
    <a *ngFor="let school of schoolList" [routerLink]="['/schoolDetail', school.SCHOOL_ID]" class="card bg-light border-rounded text-decoration-none text-dark shadow-sm mb-3">
        <div class="card-body row">
            <div class="col column-data">{{ school.SCHOOL_NAME }}</div>
            <div class="col column-data">{{ school.DIRECTOR_NAME }}</div>
            <div class="col column-data text-truncate">{{ school.ADDRESS }}</div>
        </div>
    </a>

    <div class="d-flex justify-content-center">
        <pagination [totalItems]="30" ></pagination>
    </div>
</section>
