<section class="container">
    <div class="mb-3">
        <h1 *ngIf="schoolId === 'newSchool'" class="display-4">Nova Escola</h1>
        <h1 *ngIf="schoolId !== 'newSchool'" class="display-4">Escola #{{ schoolId }}</h1>
    </div>
    <form [formGroup]="formSchool">
        <div class="form-group row">
            <label for="inputNameSchool" class="col-sm-2 col-form-label">Nome da Escola</label>
            <div class="col-sm-10">
                <input formControlName="schoolName" placeholder="Nome da escola" id="inputNameSchool" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDirectorName" class="col-sm-2 col-form-label">Diretor/a</label>
            <div class="col-sm-10">
                <input formControlName="directorName" placeholder="Nome do Diretor" id="inputDirectorName" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row mb-4">
            <label for="inputAddress" class="col-sm-2 col-form-label">Endereço</label>
            <div class="col-sm-10">
                <input formControlName="address" placeholder="Endereço da escola" id="inputAddress" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row mb-4">
            <label for="inputIsActive" class="col-sm-2 col-form-label">Ativo</label>
            <div class="col-sm-1">
                <input formControlName="isActive" type="checkbox" id="inputIsActive" class="form-control">
            </div>
        </div>

        <div class="d-flex justify-content-around">
            <button *ngIf="schoolId === 'newSchool'" (click)="createUpdateSchool('create')" class="btn btn-primary border-rounded">Adicionar Escola</button>
            <button *ngIf="schoolId !== 'newSchool'" (click)="createUpdateSchool('update')" class="btn btn-primary border-rounded">Salvar Escola</button>
            <button [routerLink]="['/schools']" class="btn btn-secondary border-rounded">Cancelar</button>
        </div>
    </form>
</section>
